body
{
  background-color: transparent !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-nav {
  display: inline-block;
}

.navbar-nav>li {
   display: inline-block;
}
.red-like
{
  color: #ff0000 !important;
  transition: font-size 0.2s linear;
  font-size: 1.3em !important;
}
.red-like:hover
{
  transition: font-size 0.2s linear;
  font-size: 1.4em !important;
  cursor: pointer;
}
.black-like
{
  color: #000000 !important;
  transition: font-size 0.2s linear;
  font-size: 1.3em !important;
}
.black-like:hover
{
  transition: font-size 0.2s linear;
  font-size: 1.4em !important;
  cursor: pointer;
}
.black-comment
{
  color: #000000 !important;
  transition: font-size 0.2s linear;
  font-size: 1.2em !important;
}
.black-comment:hover
{
  transition: font-size 0.2s linear;
  font-size: 1.3em !important;
  cursor: pointer;
}
h1
{
  color: white !important;
  margin-left: 17% !important;
}

ul
{
    font-size: 1.2em !important;
}
.nav-link:hover
{
    transition: font-size 0.2s linear;
    font-size: 1.3em !important;
}
.nav-link:not(:hover)
{
    transition: font-size 0.2s linear;
}
#plus
{
  font-size: 1.3em !important;
}
#plus:hover
{
  transition: font-size 0.2s linear;
  font-size: 1.5em !important;
}
#plus:not(:hover)
{
  transition: font-size 0.2s linear;
}

#username
{
    padding-left: 30% !important;
}
.row
{
  height: 100vh !important;
  margin-top: 8% !important;
  margin-left: 10px;
  overflow-x: hidden;
  width: 100%;
}
.hashtagTable
{
  height: 95% !important;
  margin-top: 6% !important;
  margin-left: 10px;
  overflow-x: hidden;
  width: 100%;
}

.aside-left
{

  position: fixed;
  float: left !important;
  width: 25% !important;
  height: 100%;
  margin-right: 150%;
  text-align:center;
}

.aside-left2
{

  position: fixed;
  float: left !important;
  width: 25% !important;
  height: 100%;
  text-align: center;
}
.center2
{
  width: 71% !important;
  margin-left: 28% !important;
  padding-bottom: 3%;
  height: 95% !important;
}
.center
{
  width: 69.5% !important;
  margin-left: 30%;
  height: 95% !important;
  padding-bottom: 3%;
}
html
{
  overflow-x: hidden;
  overflow-y: hidden;
}

.profile-img-container {
    position: relative !important;
    display: inline-block !important;
    overflow: hidden !important;
}

.profile-img-container img:hover {
    opacity: 0.5 !important;
}
.profile-img-container:hover a {
    transition: opacity 0.5s ease-in-out;
    opacity: 1 !important;
    top: 0 !important;
    z-index: 500 !important;
}

.profile-img-container:hover a span {
    top: 50% !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
}
/* added */
.profile-img-container a {
    display: block !important;
    position: absolute !important;
    top: -100% !important;
    opacity: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    text-align: center !important;
    color: inherit !important;
}
.ui-autocomplete { position: absolute; cursor: default;z-index:2000 !important;}
#changeImg
{
  font-size: 2.5em !important;
}

#custom-file
{
  pointer-events: none
}
